* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: table;
    background-color:blue;
    width:100%;
}
h3{
    color:white;
    display: table-cell;
    vertical-align: middle;
    padding-left:80px;
}

nav{
    display: table;
    float: right;
    height: 10vh;
    /* background-color:blue; */
    margin-right:80px;
}
a{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    transition: all 
}
a:not(:last-child){
    padding-right:20px;
}
main{
    min-height: 80vh;
    background-color: lightgrey;

}
a:hover{
    color:orange;
}

.box1{
    position: absolute;
    width: 300px;
    height:300px;
    background-color:red;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 5px 5px 5px black;
}
footer{
    height: 10vh;
    background-color:blue;
}

